CNAME
/Data/animstatemachine
/Data/homecity
/Data/physics
/Data/streamingdata
/Data/testing
/Data/uidecktree
/Data/Fonts
/Data/backup
/Data/wpfg/*.*
/Data/wpfg/resources/*.*
/Data/wpfg/resources/images
/Data/wpfg/resources/art
/Art/
*portrait.png
*portraits.png
*portriat.png
*potrait.png
*.XMB
*.tactics
*.xml
*.xs
*.blueprint
*.hkShape
*.physics
*.xaml
*.ddt
*.cam
*.dtd