/Data/wpfg/resources/*.*
/Data/wpfg/resources/art/challenges
/Data/wpfg/resources/art/dlc
/Data/wpfg/resources/art/homecity
/Data/wpfg/resources/art/buildings/*.* 
/Data/wpfg/resources/art/trade_route/*.*
/Data/wpfg/resources/images/artofwar
/Data/wpfg/resources/images/campaignmenu
/Data/wpfg/resources/images/challenges
/Data/wpfg/resources/images/credits
/Data/wpfg/resources/images/demo
/Data/wpfg/resources/images/economy
/Data/wpfg/resources/images/endgame
/Data/wpfg/resources/images/historicalbattles
/Data/wpfg/resources/images/history
/Data/wpfg/resources/images/homecity
/Data/wpfg/resources/images/hud
/Data/wpfg/resources/images/logo
/Data/wpfg/resources/images/mods
/Data/wpfg/resources/images/mpgamelist
/Data/wpfg/resources/images/multiplayer
/Data/wpfg/resources/images/photomode
/Data/wpfg/resources/images/ping
/Data/wpfg/resources/images/politiciandlg
/Data/wpfg/resources/images/scenarioeditor
/Data/wpfg/resources/images/skirmish
/Data/wpfg/resources/images/skirmishsetup
/Data/wpfg/resources/images/social
/Data/wpfg/resources/images/techtree
/Data/wpfg/resources/images/uifilemanager
/Data/wpfg/resources/images/uiskirmishnickname
/Data/wpfg/resources/images/uispcloadscreen
/Data/wpfg/resources/images/icons/banners
/Data/wpfg/resources/images/icons/eso/awards
/Data/wpfg/resources/images/icons/eso/avatars
/Data/wpfg/resources/images/icons/history
/Data/wpfg/resources/images/icons/portraits
/Data/wpfg/resources/images/icons/post_game
/Data/wpfg/resources/images/icons/singleplayer
/Data/wpfg/resources/images/icons/random_map
/Data/wpfg/resources/images/icons/ranking
/Data/wpfg/resources/images/icons/regiments
/Data/streamingdata/
/Data/testing/
/Data/backup/
*.XMB
*.tactics
*.xml
*.xs
*.blueprint
*.hkShape
*.physics
*.xaml
CNAME
web.config
*.tga
*.ddt
