CNAME
/Data/animstatemachine
/Data/homecity
/Data/physics
/Data/streamingdata
/Data/testing
/Data/uidecktree
/Data/Fonts
/Data/backup
/Data/wpfg/*.*
/Data/wpfg/resources/*.*
/Data/wpfg/resources/images/*.*
/Data/wpfg/resources/images/artofwar
/Data/wpfg/resources/images/campaignmenu
/Data/wpfg/resources/images/challenges
/Data/wpfg/resources/images/credits
/Data/wpfg/resources/images/demo
/Data/wpfg/resources/images/endgame
/Data/wpfg/resources/images/historicalbattles
/Data/wpfg/resources/images/history
/Data/wpfg/resources/images/homecity
/Data/wpfg/resources/images/hud
/Data/wpfg/resources/images/icons/abilities/powerranger
/Data/wpfg/resources/images/icons/history
/Data/wpfg/resources/images/icons/random_map
/Data/wpfg/resources/images/icons/ranking
/Data/wpfg/resources/images/icons/regiments
/Data/wpfg/resources/images/icons/singleplayer
/Data/wpfg/resources/images/logo
/Data/wpfg/resources/images/mods
/Data/wpfg/resources/images/mpgamelist
/Data/wpfg/resources/images/multiplayer
/Data/wpfg/resources/images/photomode
/Data/wpfg/resources/images/ping
/Data/wpfg/resources/images/scenarioeditor
/Data/wpfg/resources/images/skirmish
/Data/wpfg/resources/images/skirmishsetup
/Data/wpfg/resources/images/social
/Data/wpfg/resources/images/uifilemanager
/Data/wpfg/resources/images/uiskirmishnickname
/Data/wpfg/resources/images/uispcloadscreen
/Art/
*.XMB
*.tactics
*.xml
*.xs
*.blueprint
*.hkShape
*.physics
*.xaml
*.ddt
*.cam
*.dtd