.hidden {
    display: none;
}

#toolbox {
    position: fixed;
    float: right;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: white;
}

#tool {
    float: right;
    height: 100%;
    overflow: auto;
}

#tool>div {
    float: left;
    height: 100%;
}

#databox {
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 25px);
    top: 0px;
    left: 0px;
    z-index: -1;
    overflow: auto;
    margin: 5px;
}

#functionbox {
    float: left;
    width: 420px;
}

button {
    margin: auto;
    text-align: center;
}

#logger {
    width: 300px;
    left: 20px;
}

#loggerShower {
    left: 0px;
    top: 0px;
    width: 20px
}

#language {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px
}

#toolShower {
    height: 100%;
    width: 20px;
}

#output {
    width: 400px;
    height: 520px;
}

#input {
    width: 400px;
    height: 100px;
}