.icon {
    width: 128px;
}

.name {
    width: 256px;
}

.local {
    width: 256px;
}

.type {
    width: 32px;
}

.desc {
    width: 300px;
}

.effect {
    overflow-x: auto;
    white-space: nowrap;
}

#info {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: separate;
    border-spacing: 0px;
    padding: 0px;
    table-layout: fixed;
    position: relative;
    width: calc(100% - 15px);
}

td,
th {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: separate;
    border-spacing: 0px;
}